<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449591385316-iedgdcrhefbal54sk73se7vc49k994g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449591385316-iedgdcrhefbal54sk73se7vc49k994g2</string>
	<key>API_KEY</key>
	<string>AIzaSyArHKIFgnmU27EsrMswQHUTe32ZudOq7sg</string>
	<key>GCM_SENDER_ID</key>
	<string>449591385316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sammcgarry.thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-57cb8</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-57cb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449591385316:ios:e12200ef3d358f86c320f1</string>
	<key>DATABASE_URL</key>
	<string>https://thoughts-57cb8.firebaseio.com</string>
</dict>
</plist>